* {
  box-sizing: border-box;
}

body {
  box-sizing: inherit;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
}

.nav {
  padding-left: 3rem;
}

.padding-x {
  padding-left: 1.5rem;
  padding-right: 1.5rem;
}

.books-container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  max-height: 200px;
  padding: 0;
  width: 500px;
  font-size: 20px;
  border: 3px solid black;
}

.headline {
  padding: 0;
  margin: 0;
}

.book {
  width: 100%;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  overflow: hidden;
  height: 30px;
  padding-left: 10px;
  border-bottom: 1px solid black;
}

.book-store {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-size: 40px;
}

.book-form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  max-width: 100%;
  gap: 10px;
}

#add-btn {
  background-color: white;
  border: 2px solid black;
  box-shadow: 2px 2px black;
  font-weight: 600;
  margin-left: 5.6rem;
}

input {
  border: 2px solid black;
}

.btn-container {
  float: right;
}

.remove-button {
  background-color: orangered;
  height: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  float: right;
  box-shadow: 2px 2px black;
}

.line {
  border: 1px solid black;
  width: 200px;
}

.info {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 10px;
  font-size: 20px;
  height: 40px;
  width: 75%;
}

.sub-headline {
  margin: 0;
}

/* navigation section */

.nav-item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border: 3px solid black;
  margin-left: 15px;
  margin-right: 15px;
  margin-top: 15px;
}

ul {
  list-style-type: none;
  display: flex;
  column-gap: 10px;
  font-weight: 600;
}

a {
  text-decoration: none;
  color: black;
}

a:active {
  color: purple;
}

h3 {
  padding-left: 15px;
}

li:nth-child(3) {
  padding-right: 15px;
}

.date-section {
  display: flex;
  justify-content: right;
  padding-right: 15px;
  font-weight: bold;
}

.contact {
  display: none;
}

footer {
  border: 3px solid black;
  margin-left: 15px;
  margin-right: 15px;
  margin-top: 15px;
  display: flex;
  justify-content: center;
}