/* default css */
html {
  box-sizing: border-box;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

body {
  margin: 0;
  padding: 0;
  background-color: rgb(255, 255, 255);
  font-family: 'Roboto', sans-serif;
  font-size: 16px;
}

.container {
  max-width: 1300px;
  margin: 0 auto;
  border: 1px solid black;
}

.padding-x {
  padding-left: 1.5rem;
  padding-right: 1.5rem;
}

/* Navigation section */
.nav-container{
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  font-size: 10px;
  padding-top: 1rem;
}

.nav-item{
  width: 100%;
  display: flex;
  justify-content: space-between;
  border: 3px solid black;
  box-shadow: 1px 1px black;
  font-size: 20px;
}

.nav-link{
  list-style: none;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1rem;
}

.nav-link a{
  text-decoration: none;
  color: black;
}

.vertical-line{
  border-left: 2px solid black;
  box-shadow: 3px 3px black;
  height: 100%;
}

/* Book List section */

.book-store {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 70vh;
}

.headline {
  font-size: 40px;
}

.books-container {
  border: 2px solid black;
  box-shadow: 2px 2px black;
  max-height: 300px;
  width: 50%;
  padding: 0;
  overflow: auto;
}

/* Dynamic List of books */

.book {
  list-style: none;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 30px;
  padding: 0 2.5rem 0 1rem;
  border-bottom: 1px solid black;
}

.info {
  display: flex;
  gap: 10px;
  font-size: 20px;
}

.remove-button {
  font-size: 15px;
  color: rgb(255, 255, 255);
  background-color: rgb(185, 63, 63);
  border: 2px solid black;
  box-shadow: 2px 2px black;
}

.remove-button:hover {
  background-color: rgb(255, 0, 0);
}

/* Adding book section */

.book-form {
  display: none;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 70vh;
}

.sub-headline{
  font-size: 30px;
}

.form-container {
  width: 50%;
  padding: 10px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.title {
  width: 70%;
  height: 30px;
  font-size: 20px;
  border: 2px solid black;
}

.author {
  width: 70%;
  height: 30px;
  font-size: 20px;
  border: 2px solid black;
}

.add-btn {
  margin-left: 290px;
  width: 20%;
  height: 30px;
  font-size: 20px;
  border: 2px solid black;
  box-shadow: 2px 2px black;
}


/* Contact section */

.contact {
  display: none;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 70vh;
}

.contact-headline {
  font-size: 50px;
}

.contact-info {
  margin: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-size: 20px;
}

/* Footer section */

.footer {
  border: 3px solid black;
  box-shadow: 3px 3px black;
  display: flex;
  justify-content: center;
  font-size: 20px;
  height: 60px;
}